{% set transition = collections.footer_config[0].data.transition_src %}
{% set transition_type = collections.footer_config[0].data.transition_type %}
{% set transition_alt = collections.footer_config[0].data.transition_alt %}
{% set multi_img_transition = collections.footer_config[0].data.multi_img_transition %}
{% set transitions = collections.footer_config[0].data.transitions %}
<footer class="footer-wraper">
    {% if multi_img_transition %}
        <div class="footer-transitions">
            {% for i in transitions %}
                {% set image = transitions[loop.index0]["transition"+loop.index] %}
                <div class="{{ image.class }}">
                    {% include "image.njk" %}
                </div>
            {% endfor %}
        </div>
    {% elif transition_type == "image" %}
        {% set image = {image_src: transition, image_alt: transition_alt} %}
        {% include "image.njk" %}
    {% elif transition_type == "svg" %}
        <div class="cl-footer">
            {% set svg = transition %}
            {% include "svg.njk" %}
        </div>
    {% endif %}
    <div class="navigate footer-btn-container" data-target-id="body-wraper">
        <div class=" btn-icon btn-icon-primary">
            {% set svg = collections.config[0].data.arrow_up %}
            {% include 'svg.njk' %}
        </div>
    </div>
    <div class="footer-children-container">
        <div class="footer-children">
            {%- for element in collections.footer|sort(attribute="data.order") -%}
                {% set value = element.data.value %}
                {% set children = element.data.children %}
                {% set socialmedia = element.data.socialmedia %}
                <div class="footer-child">
                    <span>{{ value }}</span>
                    {% if socialmedia %}
                        {% include 'socialmedia.njk' %}
                    {% else %}
                        <ul>
                            {% for c in children %}
                                {% set link = c.child %}
                                <li>
                                    {% include 'link.njk' %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            {% set bereiche = [] %}
            {%- for element in collections.navigation|sort(attribute="data.order") -%}
                {% set value = element.data.value %}
                {% set footer = element.data.footer %}
                {% set children = element.data.children %}
                {% if not children|length and footer %}
                    {% set bereiche = (bereiche.push(element.data), bereiche) %}
                {% endif %}
                {% if footer and children|length %}
                    <div class="footer-child">
                        <span>{{ value }}</span>
                        <ul>
                            {% for c in children %}
                                {% set link = c.child %}
                                <li>
                                    {% include 'link.njk' %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="footer-child">
                <span>Bereiche</span>
                <ul>
                    {% for item in bereiche %}
                        {% set link = item %}
                        <li>
                            {% include 'link.njk' %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-created-by">
        All rights reserved © 2023. Created by
        <strong>Abb Design</strong>
        with ♥
        {% if collections.footer_config[0].data.created_for|length %}
            {% set value = collections.footer_config[0].data.created_for %} for
            <strong>{{ value }}</strong>. {% else %}.
        {% endif %}
    </div>
</footer>