{% set transition = collections.config[0].data.footer_transition %}
{% set transition_type = collections.config[0].data.footer_transition_type %}
{% set transition_alt = collections.config[0].data.footer_transition_alt %}
{% set footer_scroll_target = collections.config[0].data.footer_scroll_target %}
<footer class="footer-wraper">
    <div class="navigate footer-btn-container" data-target-id="{{ footer_scroll_target }}">
        <div class=" btn-icon btn-icon-primary">
            {% set svg = collections.config[0].data.arrow_up %}
            {% include 'svg.njk' %}
        </div>
        <p>Nach Oben</p>
    </div>
    {% if transition|length %}
        {% if transition_type == "svg" %}
            <div class="cl-footer">
                {% set svg = transition %}
                {% include "svg.njk" %}
            </div>
        {% elif transition_type == "image" %}
            {% set image = {image_src: transition, image_alt: transition_alt} %}
            {% include "image.njk" %}
        {% endif %}
    {% endif %}
    <div class="footer-children-container">
        <div class="footer-children">
            {%- for element in collections.footer|sort(attribute="data.order") -%}
                {% set value = element.data.value %}
                {% set children = element.data.children %}
                {% set socialmedia = element.data.socialmedia %}
                <div class="footer-child">
                    <span>{{ value }}</span>
                    {% if socialmedia %}
                        {% include 'socialmedia.njk' %}
                    {% else %}
                        <ul>
                            {% for c in children %}
                                {% set link = c.child %}
                                <li>
                                    {% include 'link.njk' %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}
            {%- for element in collections.navigation|sort(attribute="data.order") -%}
                {% set value = element.data.value %}
                {% set footer = element.data.footer %}
                {% set children = element.data.children %}
                {% if footer %}
                    <div class="footer-child">
                        <span>{{ value }}</span>
                        <ul>
                            {% for c in children %}
                                {% set link = c.child %}
                                <li>
                                    {% include 'link.njk' %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="footer-created-by">
        All rights reserved © 2022. Created by
        <strong>Abb Design</strong>
        with ♥
        {% if collections.config[0].data.footer_created_for|length %}
            {% set value = collections.config[0].data.footer_created_for %} for
            <strong>{{ value }}</strong>. {% else %}.
        {% endif %}
    </div>
</footer>