<header class="navigation-wraper">
    <div class="topbar topbar-up">
        {% include 'logo.njk' %}
        {% include 'menu.njk' %}
    </div>
    <div class="navigation" data-visible="false" aria-hidden="true">
        {% include 'logo.njk' %}
        <nav>
            <ul>
                {%- for element in collections.navigation|sort(attribute="data.order") -%}
                    {% set navigation = element.data.navigation %}
                    {% if navigation %}
                        {% set children = element.data.children %}
                        {% set value = element.data.value %}
                        {% set children = element.data.children %}
                        {% set link = element.data %}
                        {% if children and children|length %}
                            <li class="submenu navigate">
                                <div data-target-toggle-submenu="{{ loop.index }}" class="submenu-toggle">
                                    {{ value }}
                                    <div class="dropdown-icon-container">
                                        <svg viewBox="0 0 16 16" data-target-toggle-submenu="{{ loop.index }}" fill="currentColor" class="dropdown-icon dropdown-icon-{{ loop.index }}">
                                            <path data-target-toggle-submenu="{{ loop.index }}" d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                        </svg>
                                    </div>
                                </div>
                                <ul class="submenu-list submenu-list-{{ loop.index }}" data-visible="false">
                                    {% for c in children %}
                                        {% set link = c.child %}
                                        <li>
                                            {% include 'link.njk' %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li>
                                {% include 'link.njk' %}
                            </li>
                        {% endif %}
                    {% endif %}
                {%- endfor -%}
            </ul>
        </nav>
        {% set button = collections.header_config[0].data %}
        {% if button.btnText and (button.btnTarget or  button.btnUrl) %}
            <div class="cta">
                {% include 'button.njk' %}
            </div>
        {% endif %}
        {% if collections.socialmedia and collections.socialmedia|length %}
            <div class="nav-social-media-wraper">
                {% include 'socialmedia.njk' %}
            </div>
        {% endif %}
    </div>
</header>