{% set benefits_collection = benefits.collection %}
{% set bgcl = benefits.bgcl %}
{#  bg-cl-{{ bgcl }} #}
<div class="benefits-container ">
    <div class="benefits">
        {%- for benefit in collections[benefits_collection]|sort(attribute="data.order") -%}
            {% set color = benefit.data.color %}
            <div class="benefit">
                <div class="benefit-icon" {% if color|length %} style="fill: {{ color }};" {% endif %}>
                    {% set svg = benefit.data.icon %}
                    {% include "svg.njk" %}
                </div>
                <p class="benefit-text" {% if color|length %} style="color: {{ color }};" {% endif %}>{{ benefit.data.text }}</p>
            </div>
        {%- endfor -%}
    </div>
</div>