{# 

Expects:
btnText
btnType = primary or secondary
and
btnTarget
btnUrl and external
btnUrl
btnModal = Uses data-modal-id DATASET to open a modal with ELEMENT ID.

#}
{% if btnText|length and btnType == "primary" or btnType == "secondary" %}
    {% if btnTarget|length %}
        <div data-target-id="{{ btnTarget }}" class="navigate btn btn-primary">
            {{ btnText }}
        </div>
    {% elif btnUrl|length and external == false %}
        <a href="{{ btnUrl }}">
            <div class="btn btn-{{ btnType }}">
                {{ btnText }}
            </div>
        </a>
    {% elif btnUrl|length %}
        <a target="_blank" href="{{ btnUrl }}">
            <div class="btn btn-{{ btnType }}">
                {{ btnText }}
            </div>
        </a>
    {% elif btnModal|length %}
        <div data-modal-id="{{ btnModal }}" class="modal-btn btn btn-primary">
            {{ btnText }}
        </div>
    {% endif %}
{% endif %}