{% if second_button %}
    {% set btnText = button.btnText2 %}
    {% set btnType = button.btnType2 %}
    {% set btnUrl = button.btnUrl2 %}
    {% set external = button.external2 %}
    {% set btnModal = button.btnModal2 %}
    {% set btnTarget = button.btnTarget2 %}
{% else %}
    {% set btnText = button.btnText %}
    {% set btnType = button.btnType %}
    {% set btnUrl = button.btnUrl %}
    {% set external = button.external %}
    {% set btnModal = button.btnModal %}
    {% set btnTarget = button.btnTarget %}
{% endif %}
{% if not btnType|length %}
    {% set btnType = "primary" %}
{% endif %}
{% set config = collections.config[0].data %}
{% if config.pri_btn_shadow and btnType == "primary" %}
    {# {% set btnType = btnType + " shadow " %} #}
{% endif %}
{% if btnText|length %}
    {% if btnTarget|length %}
        <div data-target-id="{{ btnTarget }}" class="navigate btn btn-{{ btnType }}">
            {{ btnText }}
        </div>
    {% elif btnUrl|length and external == false %}
        <a href="{{ btnUrl }}">
            <div class="btn btn-{{ btnType }}">
                {{ btnText }}
            </div>
        </a>
    {% elif btnUrl|length %}
        <a target="_blank" href="{{ btnUrl }}">
            <div class="btn btn-{{ btnType }}">
                {{ btnText }}
            </div>
        </a>
    {% elif btnModal|length %}
        <div data-modal-id="{{ btnModal }}" class="modal-btn btn btn-{{ btnType }}">
            {{ btnText }}
        </div>
    {% endif %}
{% endif %}