{% set btnText = button.btnText %}
{% set btnType = button.btnType %}
{% set btnUrl = button.btnUrl %}
{% set external = button.external %}
{% set btnModal = button.btnModal %}
{% if not btnType|length %}
    {% set btnType = "primary" %}
{% endif %}
{% if btnText|length %}
    {% if btnTarget|length %}
        <div data-target-id="{{ btnTarget }}" class="navigate btn btn-{{ btnType }}">
            {{ btnText }}
        </div>
    {% elif btnUrl|length and external == false %}
        <a href="{{ btnUrl }}">
            <div class="btn btn-{{ btnType }}">
                {{ btnText }}
            </div>
        </a>
    {% elif btnUrl|length %}
        <a target="_blank" href="{{ btnUrl }}">
            <div class="btn btn-{{ btnType }}">
                {{ btnText }}
            </div>
        </a>
    {% elif btnModal|length %}
        <div data-modal-id="{{ btnModal }}" class="modal-btn btn btn-{{ btnType }}">
            {{ btnText }}
        </div>
    {% endif %}
{% endif %}