{% set reverse = flex_content.reverse %}
{% set bgcl = flex_content.bgcl %}
{% set id = flex_content.id %}
{% set observer = flex_content.observer %}
{% set image_size = "full" %}
{# Components #}
{% set image = flex_content %}
{% set video = flex_content %}
{% set flex_text = flex_content %}
{# CLASSES #}
{% set flex_content_ct_class =  "flex-content-ct" %}
{% if reverse %}
    {% set flex_content_ct_class =  flex_content_ct_class+" flex-content-ct-reverse" %}
{% endif %}
{% if bgcl|length %}
    {% set custom_class = custom_class + " bg-cl-" + bgcl + " " %}
{% endif %}
{% if observer %}
    {% set observer_class = " observer-target observer-hidden " %}
{% endif %}
{# FLEX CONTENT CONTAINER #}
<section id="{{ id }}" class="flex-content {{ custom_class }}">
    <div class="{{ flex_content_ct_class }} {{ observer_class }}">
        <div class="flex-content-media flex-content-cl flex-content-cl-right">
            {% if flex_content.image_src|length %}
                {% include 'image.njk' %}
            {% elif flex_content.video_src|length %}
                {% include 'video.njk' %}
            {% endif %}
        </div>
        <div class="flex-content-text-container flex-content-cl flex-content-cl-left {{ observer_class }}">
            {% include 'flex_text.njk' %}
        </div>
    </div>
</section>