{% set color = flex_text.color %}
{% if color|length %}
    {% set custom_class = custom_class + " cl-" + color + " " %}
{% endif %}
<div class="flex-text {{ custom_class }}">
    {% set headline = flex_text %}
    {% include 'headline.njk' %}
    {% set markdown = flex_text %}
    {% include 'markdown.njk' %}
    {% if flex_text.text_italic|length %}
        <p class="italic-text">{{ flex_text.text_italic | safe }}</p>
    {% endif %}
    {% set button = flex_text %}
    {% include 'button.njk' %}
</div>