{% set reverse = flex_content.reverse %}
{% set bgcl = flex_content.bgcl %}
{# Components #}
{% set image = flex_content %}
{# CLASSES #}
{% set flex_content_class = "" %}
{% if reverse %}
    {% set flex_content_class =  flex_content_class + " row-reverse " %}
{% endif %}
{% if bgcl == "sec" %}
    {% set flex_content_class = flex_content_class + " bg-cl-sec " %}
{% elif bgcl == "pri" %}
    {% set flex_content_class = flex_content_class + " bg-cl-pri " %}
{% endif %}
{# FLEX CONTENT CONTAINER #}
<div id="{{ id }}" class="flex-content {{ flex_content_class }}">
    {% include 'image.njk' %}
    <div class="text-con">
        {% set flex_text = flex_content %}
        {% include 'flex_text.njk' %}
    </div>
</div>