{% set h1 = headline.h1 %}
{% set h2 = headline.h2 %}
{% set id = headline.id %}
{% set subtype = headline.subtype %}
{% if subtype == "line" %}
    <div id="{{ id }}" class="hl-wraper">
        <div class="hl-line"></div>
        <h1>{{ h1 }}</h1>
    </div>
{% elif h1|length %}
    <h1>{{ h1 }}</h1>
{% elif h2|length %}
    <h2>{{ h2 }}</h2>
{% endif %}