{% set h1 = row.data.h1 %}
{% set id = row.data.id %}
{% set subtype = row.data.subtype %}
{% if subtype == "line" %}
    <div id="{{ id }}" class="hl-wraper">
        <div class="hl-line"></div>
        <h1>{{ h1 }}</h1>
    </div>
{% elif h1|length %}
    <h1>{{ h1 }}</h1>
{% elif h2|length %}
    <h2>{{ h2 }}</h2>
{% endif %}