{% set image_alt = image.image_alt %}
{% set image_src = image.image_src %}
{% set image_format = image.image_format %}
{% set image_loading = image.image_loading %}
{% if not image_loading|length %}
    {% set image_loading = "lazy" %}
{% endif %}
{% set widths = [400, 600, 800, 1100, 1500, 1920] %}
{% if image_size == "half" %}
    {% set widths = [400, 600, 800] %}
{% endif %}
{% set srcset = "" %}
{% set webp_src = image_src %}
{% for width in widths %}
    {% set srcset = srcset + "/assets/" + image_src + "-" + width + ".webp " + width + "w, " %}
    {% if loop.index == 1 %}
        {% set webp_src = image_src + "-" + width + ".webp" %}
    {% endif %}
{% endfor %}
{% set image_priority = image.image_priority %}
{% if image_format|length and image_alt|length and image_src|length %}
    {% set image_style = "height: 100%;height: calc(calc(1vw / "+ image_format +") * 100);max-height: calc(600px  / "+ image_format +");overflow: hidden;" %}
    <div style="{{ image_style }}">
        <img class="img-center" title="{{ image_alt }}" alt="{{ image_alt }}" src="{{ "/assets/" + webp_src }}" srcset="{{ srcset }}" loading="{{ image_loading }}"/>
    </div>
{% elif image_alt|length and image_src|length %}
    <img title="{{ image_alt }}" alt="{{ image_alt }}" src="{{ "/assets/" + webp_src }}" srcset="{{ srcset }}" loading="{{ image_loading }}"/>
{% endif %}
{# Build the image into webp images with different sizes #}
{% img src=image_src, alt=image_alt, loading=image_priority, widths=widths %}