{% set img_name = slide.data.img_name %}
{% set img_res = slide.data.img_res %}
{% if img_name|length %}
    <img alt="{{ img_name }}" src="{{ img_res }}"/>
{% endif %}
{# TODO: Set markdown variable here to make this work#}
{%- include 'text_markdown.njk' -%}