{% set type = collections.header_config[0].data.logo_type %}
{% if type|length %}
    {% if type == "svg" %}
        {% set svg = "logo" %}
        <a class="logo" href="/">
            {% include "svg.njk" %}
        </a>
    {% elif type == "png" or type == "jpg" %}
        {% set src = collections.header_config[0].data.logo_type %}
        {% set src = collections.header_config[0].data.domain %}
        <a class="logo" href="{{ domain }}">
            <img alt="Logo" src="../assets/logo.{{ type }}"/>
        </a>
    {% endif %}
    {% set alternateLink = true %}
    {% set value = collections.header_config[0].data.link_value %}
    {% set href = collections.header_config[0].data.link_href %}
    {% set title = collections.header_config[0].data.link_title %}
    <div class="stroke-animation">
        {% include 'link.njk' %}
    </div>
{% endif %}