{# 

Expects the path to a markdownfile and 
extracts its content into a paragraph.
<p> </p>

#}
{% set markdown_path = ".." + markdown.page.filePathStem + ".md" %}
{% if markdown_path|length %}
    {% markdown %}
    {%- include markdown_path -%}
    {% endmarkdown %}
{% else %}
    {{ markdown_path }}
    <script>
        console.error("Error in markdown.njk");
    </script>
    {% include 'dump.njk' %}
{% endif %}