{# VARIABLES #}
{% set id = row.data.id %}
{% set h2 = row.data.h2 %}
{% set text_markdown = "../" + row.data.page.filePathStem + ".md" %}
{% set textExtra = row.data.textExtra %}
{% set btnText = row.data.btnText %}
{% set btnUrl = row.data.btnUrl %}
{% set btnTarget = row.data.btnTarget %}
{% set btnModal = row.data.btnModal %}
{% set image = row.data.image %}
{% set bgcl = row.data.bgcl %}
{% set external = row.data.external %}
{% set btnTarget = row.data.btnTarget %}
{% set reverse = row.data.reverse %}
{# CLASSES #}
{% set contentClass = "parallax-content" %}
{% set headlineClass = "parallax-headline" %}
{% set bgclClass = "" %}
{# BACKGROUND COLOR #}
{% if bgcl|length %}
    {% if bgcl == "sec" %}
        {% set bgclClass = "bg-cl-sec" %}
    {% elif bgcl == "pri" %}
        {% set bgclClass = "bg-cl-pri" %}
    {% endif %}
{% endif %}
{% if reverse == true %}
    {% set contentClass = contentClass + "  parallax-reverse-content" %}
    {% set headlineClass = headlineClass + " parallax-reverse-headline" %}
{% endif %}
{# FLEX CONTENT CONTAINER #}
<div id="{{ id }}" class="parallax {{ bgclClass }}">
    <h2 class="parallax-js {{ headlineClass }}" data-rate="1.5" data-direction="vertical">
        {{ h2 | safe }}
    </h2>
    <div class="{{ contentClass }}">
        <div class="parallax-spacer"></div>
        <div class="parallax-img">
            <img alt="{{ h2 }}" src="{{ image }}"/>
        </div>
        <div class="parallax-text">
            {% set h2 = '' %}
            {% include 'flex_text.njk' %}
        </div>
    </div>
</div>