{# Slides inherit the data ALWAYS from the "slide" variable. #}
{% set specs = slide.specs %}
{% set price = slide.price %}
{# Components - INCLUDE #}
{% set flex_text = slide %}
{% set headline = slide %}
{% set image = slide %}
{% set markdown = slide %}
{% set button = slide %}
{# Components - INCLUDE END #}
<div class="comp-product-slide">
    {% include 'image.njk' %}
    <div class="product-content">
        {% include 'headline.njk' %}
        <div class="product-specs">
            {% for spec in specs %}
                <p class="italic-text">{{ spec }}</p>
            {% endfor %}
        </div>
        {% include "markdown.njk" %}
        {% include "button.njk" %}
        <h2 class="product-price">{{ price }}</h2>
    </div>
</div>