{# Slides inherit the data ALWAYS from the "slide" variable. #}
{% set specs = slide.specs %}
{% set price = slide.price %}
{# Components - INCLUDE #}
{% set flex_text = slide %}
{% set headline = slide %}
{% set image = slide %}
{% set markdown = slide %}
{% set button = slide %}
{% set image_size = "half" %}
{# Components - INCLUDE END #}
<section class="comp-product-slide">
    {% include 'image.njk' %}
    <div class="product-content">
        {% include 'headline.njk' %}
        {% if specs|length %}
            <div class="product-specs">
                {% for spec in specs %}
                    <p class="italic-text">{{ spec }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% include "markdown.njk" %}
        <div class="product-row">
            <p class="product-price">{{ price }}</p>
            {% include "button.njk" %}
        </div>
        <div class="product-row">
            <div id="{{ template }}-left" class="slider-btn-icon slider-btn-icon-left btn-icon btn-icon-primary">
                {% set svg = collections.config[0].data.arrow_left %}
                {% include 'svg.njk' %}
            </div>
            <div id="{{ template }}-right" class="slider-btn-icon slider-btn-icon-right btn-icon btn-icon-primary">
                {% set svg = collections.config[0].data.arrow_right %}
                {% include 'svg.njk' %}
            </div>
        </div>
    </div>
</section>