{# Slides inherit the data ALWAYS from the "slide" variable. #}
{% set specs = slide.specs %}
{% set price = slide.price %}
{# Components - INCLUDE #}
{% set flex_text = slide %}
{% set headline = slide %}
{% set image = slide %}
{% set image_size = "full" %}
{% set markdown = slide %}
{% set button = slide %}
{# Components - INCLUDE END #}
<section class="product-cp">
    <div class="product-cp-image product-cp-cl product-cp-cl-left">
        {% include 'image.njk' %}
    </div>
    <div class="product-cp-content product-cp-cl product-cp-cl-right">
        <div class="product-cp-headline">
            {% include 'headline.njk' %}
        </div>
        <p class="product-cp-price">
            {{ price }}
        </p>
        <div class="product-cp-text">
            {% include "markdown.njk" %}
        </div>
        <div class="product-cp-btns">
            {% include "button.njk" %}
            <div class="product-cp-cu-btn">
                <div id="{{ template }}-left" class="slider-btn-icon slider-btn-icon-left btn-icon btn-icon-primary">
                    {% set svg = collections.config[0].data.arrow_left %}
                    {% include 'svg.njk' %}
                </div>
                <p class="product-cp-cu-btn-text">Nächstes Produkt</p>
                <div id="{{ template }}-right" class="slider-btn-icon slider-btn-icon-right btn-icon btn-icon-primary">
                    {% set svg = collections.config[0].data.arrow_right %}
                    {% include 'svg.njk' %}
                </div>
            </div>
        </div>
    </div>
</section>
{# {% if specs|length %}
    <div class="product-specs">
        {% for spec in specs %}
            <p class="italic-text">{{ spec }}</p>
        {% endfor %}
    </div>
{% endif %} #}