{% if collections.socialmedia and collections.socialmedia|length %}
    <div class="social-media-wraper">
        {%- for media in collections.socialmedia|sort(attribute="data.order") -%}
            {% set href = media.data.href %}
            {% set name = media.data.name %}
            <a target="_blank" href="{{ href }}">
                {% set svg = "social-"+ name +"-icon" %}
                {% include 'svg.njk' %}
            </a>
        {%- endfor -%}
    </div>
{% endif %}