{% if svg %}
    {% set path = "../svgs/" + svg + ".svg" %}
    {% svg %}
    {%- include path -%}
    {% endsvg %}
{% else %}
    <script>
        console.warn("SVG konnte nicht angezeigt werden (svg.njk) .");
    </script>
{% endif %}