{# VARIABLES #}
{% set id = row.data.id %}
{% set h2 = row.data.h2 %}
{% set textPath = "../" + row.data.page.filePathStem + ".md" %}
{% set textExtra = row.data.textExtra %}
{% set btnText = row.data.btnText %}
{% set btnUrl = row.data.btnUrl %}
{% set btnModal = row.data.btnModal %}
{% set image = row.data.image %}
{% set external = row.data.external %}
{% set btnTarget = row.data.btnTarget %}
{% set reverse = row.data.reverse %}
<div class="wt">
    <div class="wt-content">
        <div id="{{ id }}" class="animate-rotateX" style="animation-delay: 1s;">
            <div class="parallax-js test-parallax-headline" data-rate="1.5" data-direction="vertical">
                {{ h2 | safe }}
            </div>
        </div>
        <div id="{{ id }}" class="animate-rotateX" style="animation-delay: 2s;">
            <div class="parallax-js test-parallax-headline" data-rate="1.5" data-direction="vertical">
                {{ h2 | safe }}
            </div>
        </div>
    </div>
</div>