{% set texts = welcome_cta.texts %}
{% set next_section = welcome_cta.next_section %}
<div class="w-cta">
    <h1 class="w-cta-content">
        {% for text in texts %}
            <div class="wt-item">
                {{ text }}
            </div>
        {% endfor %}
    </h1>
    {% if next_section|length %}
        <div class="btn-container">
            <div class="navigate btn-icon btn-icon-secondary" data-target-id="{{ next_section }}">
                {% set svg = collections.config[0].data.arrow_down %}
                {% include 'svg.njk' %}
            </div>
        </div>
    {% endif %}
</div>