<div class="color-pallet">
    <div class="bg-pri-color color-con">
        <div class="color-box">
            <h1 class="color-headline">Primary Backgr.</h1>
            <p class="color-text">Text Text Text.</p>
        </div>
    </div>
    <div class="bg-sec-color color-con">
        <div class="color-box">
            <h1 class="color-headline">Secondary Backgr.</h1>
            <p class="color-text">Text Text Text!</p>
        </div>
    </div>
    <div class="nav-bg-color color-con">
        <div class="color-box">
            <h1 class="color-headline">Navigation</h1>
            <p class="color-text">Text Text Text?</p>
        </div>
    </div>
</div>