<div class="color-pallet">
    <div class="light-colors">
        <div class="bg-pri-color color-con">
            <div class="color-box">
                <h1 class="color-headline">Primary</h1>
                <p class="color-text">PrimaryPrimary</p>
            </div>
        </div>
        <div class="bg-sec-color color-con">
            <div class="color-box">
                <h1 class="color-headline">Secondary</h1>
                <p class="color-text">SecondarySecondary</p>
            </div>
        </div>
        <div class="nav-bg-color color-con">
            <div class="color-box">
                <h1 class="color-headline">Tertiary</h1>
                <p class="color-text">TertiaryTertiary</p>
            </div>
        </div>
        <div class="light-box color-con">
            <div class="color-box"></div>
            <h1 class="color-headline">Light</h1>
            <p class="color-text">LightLight</p>
        </div>
        <div class="dark-box color-con">
            <div class="color-box"></div>
            <h1 class="color-headline">Dark</h1>
            <p class="color-text">DarkDark</p>
        </div>
    </div>
    <div class="dark-colors">
        <div class="bg-pri-color color-con">
            <div class="color-box"></div>
            <h1 class="color-headline">Primary</h1>
            <p class="color-text">PrimaryPrimary</p>
        </div>
        <div class="bg-sec-color color-con">
            <div class="color-box"></div>
            <h1 class="color-headline">Secondary</h1>
            <p class="color-text">SecondarySecondary</p>
        </div>
        <div class="nav-bg-color color-con">
            <div class="color-box"></div>
            <h1 class="color-headline">Tertiary</h1>
            <p class="color-text">TertiaryTertiary</p>
        </div>
        <div class="light-box color-con">
            <div class="color-box"></div>
            <h1 class="color-headline">Light</h1>
            <p class="color-text">LightLight</p>
        </div>
        <div class="dark-box color-con">
            <div class="color-box"></div>
            <h1 class="color-headline">Dark</h1>
            <p class="color-text">DarkDark</p>
        </div>
    </div>
</div>