:root {
    //--senary: #;--septenary: #;

    --light: #FFFFFF;

    /*     LIGHT SCHEME     */
    --primary: #e6d2b4;
    --secondary: #e3c696;
    --tertiary: #234c5d;
    // --quaternary: #454342;
    // --quinary: #454342;

    --text: var(--tertiary);

    /*     DARK SCHEME     */
    @media (prefers-color-scheme: dark) {
        --primary: #e6d2b4;
        --secondary: #e3c696;
        --tertiary: #234c5d;

        --text: var(--tertiary);
    }

    /*     NAVIGATION     */
    --nav-color: var(--tertiary);
    --nav-bg-color: var(--secondary);

    /*     TEXT     */
    --text-color: var(--text);
    --headline-color: var(--quinary);

    /*     BUTTON PRIMARY     */
    --btn-pri-color: var(--primary);
    --btn-pri-bg-color: var(--tertiary);

    /*     BUTTON SECONDARY     */
    --btn-sec-color: var(--tertiary);
    --btn-sec-bg-color: transparent;
    --btn-sec-bo-color: var(--tertiary);

    /*     BODY     */
    --color: var(--text);
    --bg-pri-color: var(--primary);
    --bg-sec-color: var(--secondary);

    /*     FOOTER     */
    --foo-color: var(--light);
    --foo-bg-color: var(--tertiary);

    /*     BUTTON ARROW PRIMARY     */
    --btn-icon-pri-color: var(--text);

    /*     BUTTON ARROW SECONDARY     */
    --btn-icon-sec-color: var(--quaternary);

    /*     BUTTON ARROW LIGHT     */
    --btn-icon-light-color: var(--light);

    /*     LINK     */
    --link-color: var(--tertiary);
}