:root {
    --font: 'Poppins';
    --font-family: var(--font), sans-serif;
}

@font-face {
    font-family: var(--font);
    font-style: normal;
    font-weight: 300;
    src: local(var(--font)),
        url('../assets/fonts/poppins-v20-latin-300.woff2') format('woff2'),
}

@font-face {
    font-family: var(--font);
    font-style: normal;
    font-weight: 400;
    src: local(var(--font)),
        url('../assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
}

@font-face {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    src: local(var(--font)),
        url('../assets/fonts/poppins-v20-latin-500.woff2') format('woff2'),
}

@font-face {
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    src: local(var(--font)),
        url('../assets/fonts/poppins-v20-latin-600.woff2') format('woff2'),
}

@font-face {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    src: local(var(--font)),
        url('../assets/fonts/poppins-v20-latin-700.woff2') format('woff2'),
}