@use '../abstracts/' as *;

/*     BUTTON     */

:root {
    --min-width: 10rem;
}

.btn {
    text-align: center;
    cursor: pointer;
    padding: .9em 1.3em;
    border-radius: $border_radius;
    width: fit-content;
    font-size: var(--fs-btn);
}

.btn-primary {
    background-color: var(--btn-pri-bg-color);
    color: var(--btn-pri-color);
    font-weight: var(--fw-btn-pri);
    border-width: 0px !important;
    min-width: var(--min-width);

    * {
        color: var(--btn-pri-color);
        font-weight: var(--fw-btn-pri);
    }
}

.btn-secondary {
    color: var(--btn-sec-color);
    font-weight: var(--fw-btn-sec);
    border: 2px solid var(--btn-sec-color);
    min-width: calc(var(--min-width) - 2px);

    * {
        color: var(--btn-pri-color);
        font-weight: var(--fw-btn-pri);
    }
}

.btn-textOnly {
    color: var(--text-color);
    font-weight: var(--fw-btn-pri);
    border-width: 0px !important;

    * {
        color: var(--text-color);
        font-weight: var(--fw-btn-pri);
    }
}

.nav-btn {
    font-weight: var(--fw-btn-sec);
    border: 1px solid var(--btn-sec-bo-color);
    background-color: var(--btn-sec-bg-color);
    color: var(--btn-sec-color);

    * {
        color: var(--btn-sec-color);
        font-weight: var(--fw-btn-sec);
    }
}

/*     ICON-BUTTONS     */

.btn-icon {
    cursor: pointer;
    z-index: 2;
    opacity: .8;
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);

    &-close {
        @extend .btn-icon;
        width: var(--btn-icon-close-size);
        height: var(--btn-icon-close-size);
    }
}

.btn-icon:hover {
    opacity: 1;
}

.btn-icon-primary {
    path {
        fill: var(--btn-icon-pri-color);
    }
}

.btn-icon-secondary {
    path {
        fill: var(--btn-icon-sec-color);
    }
}

.btn-icon-light {
    path {
        fill: var(--btn-icon-light-color);
    }
}