@use '../abstracts/' as *;

/*     TEXT     */

.flex-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    @include maxmq(extralarge) {
        >*+* {
            margin-top: $gaps;
            display: block;
        }
    }

    @include minmq(extralarge) {

        >*+* {
            margin-top: $gaps;
            display: block;
        }
    }
}