@use '../abstracts/' as *;

/*     TEXT     */

.flex-text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    @include maxmq(extralarge) {
        >*+* {
            margin-top: $gaps;
            display: block;
        }

        // EXTRA TEXT MARGIN ? WHY
        // >p {
        //     margin-top: $gaps * .5;
        // }
    }

    @include minmq(extralarge) {
        // Parent has to give general margin
        // margin: $gaps;

        >*+* {
            margin-top: $gaps;
            display: block;
        }

        // EXTRA TEXT MARGIN ? WHY
        // >p {
        //     margin-top: $gaps * .5;
        // }
    }
}