@use '../abstracts/' as *;
$max-img-wd: 600px;

/*     CONTAINER     */

.grid-container {
    display: flex;
    flex-direction: column;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - $gaps * 2);
    margin: 0 auto;

    @include maxmq(large) {
        padding: calc($gaps * 1) 0;
    }

    @include minmq(large) {
        padding: calc($gaps * 2) 0;
    }

    .text-con {
        @include minmq(extralarge) {
            margin: $gaps;
        }
    }

    /*     IMAGES     */
    .img-con {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 0;
        border-radius: $border_radius;
        width: 100%;
        margin: 0 $gaps $gaps $gaps;

        img {
            // Image placement
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            border-radius: $border_radius;
            display: block;
        }
    }

    @include minmq(flexcontentBr) {
        div {
            max-width: $max-img-wd;
        }
    }

    @include minmq(extralarge) {
        .img-con {
            margin: 0 $gaps;
        }

        flex-direction: row;
    }
}

.row-reverse {
    @include minmq(extralarge) {
        flex-direction: row-reverse;
    }
}

/*     GP - IMAGES      */

.img-gp-con {
    background-color: var(--light);
    border-radius: $border_radius;

    @include minmq(small) {
        height: auto !important;
    }


    img {
        max-width: 400px;
        max-height: 300px;
    }
}

/*     About us Style Fix    */
#überuns-img-wraper {
    @include maxmq(small) {
        display: flex;
        justify-content: left;
    }

}

#überuns-img {
    width: auto;
}