@use '../abstracts/' as *;

:root {
    --fc-max-width: 600px;

    --fc-vertical-gaps: 1.5rem;

    @include maxmq (small) {
        --fc-vertical-outer-gaps: 2.5rem;
        --fc-container-gaps: 1rem;
    }


    @include rangemq (small, large) {
        --fc-vertical-outer-gaps: 4rem;
        --fc-container-gaps: 2rem;
    }

    @include minmq (large) {
        --fc-vertical-outer-gaps: 8rem;
        --fc-container-gaps: 2rem;
    }
}

.flex-content {
    padding: var(--fc-vertical-outer-gaps) 0;

    .flex-content-ct {
        @include rangemq(small, large) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @include minmq(large) {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: auto;
            max-width: calc(var(--fc-max-width) * 2);
        }
    }

    @include minmq(large) {
        .flex-content-ct-reverse {
            flex-direction: row-reverse;
        }
    }


    .flex-content-image img {
        width: 100%;
    }

    .flex-content-text-container {

        >* {
            padding-top: var(--fc-vertical-gaps);
        }

    }

    .flex-content-cl {
        max-width: var(--fc-max-width);
        padding: 0 var(--fc-container-gaps);

        @include minmq(large) {
            width: calc(50vw - var(--fc-container-gaps));

            margin: auto 0;
        }
    }

    @include minmq(large) {
        .flex-content-cl-right {
            margin-right: auto;
        }

        .flex-content-cl-left {
            margin-left: auto;
        }
    }
}