@use '../abstracts/' as *;

:root {

    --inner-gaps: 2rem;

    @include maxmq (medium) {
        --outer-gaps: 1.5rem;
    }

    @include minmq(medium) {
        --outer-gaps: 2rem;
    }

    @include minmq (large) {
        --hero-max-width: 750px;
    }
}

.hero {

    @include minmq (large) {
        display: flex;
        flex-direction: row-reverse;

    }

    .hero-content-frame {

        @include maxmq (large) {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        @include minmq (large) {
            width: 50vw;
            max-height: 100vh;
            margin: auto;

            * {
                max-width: var(--hero-max-width);
            }
        }
    }

    .hero-content {

        padding: var(--outer-gaps);

        @include maxmq (large) {
            width: var(--hero-max-width);
        }

        @include minmq (large) {
            margin: auto;
        }

        >*+* {
            margin-top: var(--inner-gaps);
        }

        .hero-content-subheading {
            p {
                font-size: var(--fs-hs);
                font-weight: var(--fw-hs);
                letter-spacing: var(--ls-hs);
                line-height: var(--lh-hs);
            }
        }

        .hero-button-row {

            @include maxmq (large) {
                >*+* {
                    margin-top: calc(var(--inner-gaps) * .5);
                }
            }

            @include minmq (large) {
                display: flex;
                flex-direction: row;

                >*+* {
                    margin-left: calc(var(--inner-gaps) * .5);
                }
            }
        }

        .hero-text {
            text-align: left;
        }

    }

    .hero-image {
        overflow: hidden;

        @include maxmq (large) {
            width: 100vw;
            height: 70vh;
        }

        @include minmq (large) {
            margin-right: auto;
            width: 50vw;
            max-height: 100vh;
        }

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

}