@use '../abstracts/' as *;

.color-pallet {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #262626;

    >div {
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: calc(var(--gaps) * 2);
        width: 100%;
    }

    .color-box {
        width: calc(100% - calc(calc(var(--gaps) * 1) * 2));
        height: 200px;
        border: 1px solid white;
        padding: calc(var(--gaps) * 1);
    }

    .color-con {
        display: flex;
        flex-direction: column;
        margin: calc(var(--gaps) * 1);
        padding: calc(var(--gaps) * .5);
    }

    .bg-pri-color {
        .color-box {
            background-color: var(--bg-pri-color);
        }

        .color-text {
            color: var(--color);
        }

        .color-headline {
            color: var(--color);
        }
    }

    .bg-sec-color {
        .color-box {
            background-color: var(--bg-sec-color);
        }

        .color-text {
            color: var(--color);
        }

        .color-headline {
            color: var(--color);
        }
    }

    .nav-bg-color {
        .color-box {
            background-color: var(--nav-bg-color);
        }

        .color-text {
            color: var(--nav-color);
        }

        .color-headline {
            color: var(--nav-color);
        }
    }
}