@use '../abstracts/' as *;

.parallax {
    z-index: 1;
    position: relative;
    background-color: var(--bg-pri-color);

    .parallax-headline {
        position: relative;
        z-index: -1;
        padding: 0 var(--xxl-headline-gap);
        font-size: var(--fs-xxl);
        font-weight: var(--fw-xxl);
        line-height: var(--ls-xxl);
        margin: calc(var(--xxl-headline-gap) * 2) 0;
    }

    .parallax-content {
        z-index: 1;
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        border-bottom: 1px solid var(--color);

        .parallax-spacer {
            width: 33vw;
        }

        .parallax-text {
            border-top: 1px solid var(--color);
            max-width: calc(600px - var(--xxl-headline-gap));
            padding: 0 var(--xxl-headline-gap);
            display: flex;
            justify-content: center;
            width: 33vw;
        }

        .parallax-img {
            max-height: 600px;
            border-top: 1px solid var(--color);
            height: 33vw;

            img {
                max-width: 600px;
                max-height: 600px;
                width: 33vw;
                height: 33vw;
            }
        }
    }

    .parallax-reverse-headline {
        text-align: right;
    }

    .parallax-reverse-content {
        flex-direction: row-reverse;
    }
}