@use '../abstracts/' as *;

$siteGaps: calc(var(--btn-icon-size) + calc($gaps * 2));

.comp-product-slide {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 70vh;
    width: calc(100vw - calc($siteGaps * 2));
    padding: $siteGaps;

    img {
        max-width: 600px;
        max-height: 600px;
        height: 33vw;
        width: 33vw;
        margin: 0 auto;
    }

    .product-content {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 0 auto;

        >*+* {
            margin-top: var(--gaps);
        }

        .product-row {
            flex-direction: row;
            display: flex;
            align-items: center;

            >*+* {
                margin-left: var(--gaps);
            }
        }

        .product-price {
            font-weight: 500;
            font-size: calc(var(--fs-p) * 2);
        }
    }

    .btn-icon {
        width: calc(var(--btn-icon-size) * .4);
        height: calc(var(--btn-icon-size) * .4);
        padding: 0px;
        margin: 0px;
    }

    @include rangemq(zero, extralarge) {
        flex-direction: column;

        img {
            height: 100%;
            width: 100%;
        }
    }
}