@use '../../../scss/abstracts/' as *;

:root {
    --media-max-wd: 650px;
}

.centerline-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    margin: calc(var(--gaps) * 3);
    text-align: center;

    .centerline span {
        font-size: 1.1rem;
        line-height: var(--lh-h1);

        @include minmq(small) {
            display: block;
        }

        @include minmq(medium) {
            font-size: 1.3rem;
        }

        @include minmq(large) {
            font-size: 1.5rem;
        }

        @include minmq(extralarge) {
            font-size: 1.7rem;
        }
    }
}

.centerimg-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;

    .centerimg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: var(--gaps) var(--gaps);
        max-width: var(--media-max-wd);

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

}

.centervideo-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .centervideo video {
        width: calc(100vw - calc(var(--gaps) * 2));
        margin: var(--gaps) var(--gaps);
        max-width: var(--media-max-wd);
    }

}

.centerbtn-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: calc(var(--gaps) * 5);

}

.center-overlay-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;

    >* {
        grid-column: 1;
        grid-row: 1;
    }

    .centervideo-frame .centervideo video {
        width: calc(80vw - calc(var(--gaps) * 2));
        max-width: calc(var(--media-max-wd) - 150px);
    }
}