@use '../../../scss/abstracts/' as *;

:root {
    --outer-gap: var(--gaps);
    --btn-row-width: 470px;
    --vertical-content-spacing: 5rem;

    @include minmq(medium) {
        --outer-gap: 4rem;
        --btn-row-width: 470px;
        --vertical-content-spacing: 5rem;
    }

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-content-frame {
        width: 100%;
        background-color: var(--secondary) !important;
    }

    .hero-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: var(--gaps);

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;
            display: block;
        }

        .hero-image-small {
            display: block;
        }

        .hero-image-large {
            display: none;
            max-width: 1250px;
        }

        @include minmq(medium) {
            .hero-image-large {
                display: block;
            }

            .hero-image-small {
                display: none;
            }
        }
    }

    .hero-content {
        margin-top: $topbar_height;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .hero-content-heading {
            margin: var(--gaps);

            @include minmq(medium) {
                margin-top: calc(var(--gaps) * 2);
            }

            @include minmq(large) {
                margin-top: calc(var(--gaps) * 3);
            }

            @include minmq(extralarge) {
                margin-top: calc(var(--gaps) * 4);
            }
        }

        .hero-button-row {
            display: flex;
            flex-direction: row;

            // justify-content: center;
            @include maxmq(extrasmall) {
                flex-direction: column;

                >* {
                    margin-top: var(--gaps);
                }

                >*+* {
                    margin-bottom: var(--gaps);
                }
            }

            @include minmq(extrasmall) {
                margin-bottom: calc(var(--gaps) * 2);
                margin-top: var(--gaps);

                >*+* {
                    margin-left: var(--gaps);
                }
            }

            @include minmq(extralarge) {
                // max-width: 470px;
                // width: 100%;

                >*+* {
                    margin-left: 2rem;
                }
            }


        }

    }
}

.hero-text h1 {
    text-align: center;
    letter-spacing: 2px;
    color: var(--primary);
}

// .hero {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     min-height: 100vh;

//     .hero-content-frame {
//         width: 100%;
//         padding: 0 var(--outer-gap);
//         background-color: var(--secondary) !important;
//     }

//     .hero-image {
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         img {
//             object-fit: cover;
//             object-position: center;
//             width: 100%;
//             height: 100%;
//             display: block;
//         }

//         .hero-image-large {
//             display: block;
//             max-width: 1400px;
//         }

//         .hero-image-small {
//             display: none;
//         }
//     }

//     .hero-content {
//         margin-top: calc(var(--vertical-content-spacing) + $topbar_height);
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         .hero-button-row {
//             display: flex;
//             flex-direction: row;
//             justify-content: center;
//             margin-top: 1.5rem;
//             margin-bottom: var(--vertical-content-spacing);
//             max-width: var(--btn-row-width);
//             width: 100%;

//             *+* {
//                 margin-left: auto;
//             }
//         }

//     }
// }

// .hero-text h1 {
//     text-align: center;
//     letter-spacing: 2px;
//     color: var(--primary);
// }