@use '../../../scss/abstracts/' as *;


:root {
    --max-width: 600px;

    --horizontal-outer-gaps: 2rem;
    --vertical-outer-gaps: 2rem;

    --vertical-gaps: 1.5rem;
    --container-gaps: 1rem;

    --btn-arrow-size: 2rem;
    --btn-arrow-gap: 1rem;

    @include minmq (large) {
        --container-gaps: 2rem;
    }

    @include minmq (extralarge) {
        --vertical-outer-gaps: 10rem;
    }
}

.product-cp {
    margin: var(--vertical-outer-gaps) 0;
    display: grid;

    @include maxmq(small) {
        grid-template-areas:
            'pr-img pr-img pr-img'
            'pr-hl pr-hl pr-hl'
            'pr-price pr-price pr-price'
            'pr-left pr-btn pr-right'
            'pr-text pr-text pr-text';
        grid-template-columns: 18vw 64vw 18vw;

        // Center Text and Content
        .product-cp-headline h2 {
            text-align: center;
            // white-space: nowrap;
            font-size: 1.5rem;
        }

        // .product-cp-btns {
        //     margin-bottom: auto;
        //     padding-top: 0 !important;
        // }

        .product-cp-price {
            padding-top: .5rem !important;
            padding-bottom: 0 !important;
            // margin-top: auto;
            margin-bottom: auto;
            text-align: center;
        }

        .product-cp-btns {
            margin: auto;
            padding: 0;
            justify-content: center;
            align-items: center;
            display: flex;
        }
    }

    @include rangemq(small, extralarge) {
        grid-template-areas:
            'pr-img pr-img pr-img'
            'pr-left pr-hl pr-right'
            'pr-left pr-price pr-right'
            'pr-left pr-btn pr-right'
            'pr-text pr-text pr-text';
        grid-template-columns: 15vw 70vw 15vw;
        justify-content: center;

        // Center Text and Content
        .product-cp-headline {
            text-align: center;
        }

        .product-cp-price {
            text-align: center;
        }

        .product-cp-btns {
            display: flex;
            justify-content: center;
        }

        .product-cp-image {
            margin-left: auto;
            margin-right: auto;
        }

        .product-cp-text {
            margin-left: auto;
            margin-right: auto;
        }
    }

    @include minmq(extralarge) {
        grid-template-areas:
            'pr-left pr-img space pr-right'
            'pr-left pr-img pr-hl pr-right'
            'pr-left pr-img pr-text pr-right'
            'pr-left pr-img pr-price pr-right'
            'pr-left pr-img pr-btn pr-right'
            'pr-left pr-img pr-space pr-right';
        grid-template-columns: 15vw 35vw 35vw 15vw;
        grid-template-rows: repeat(4, min-content);
        justify-content: center;
        margin: var(--vertical-outer-gaps) 0;

        .product-cp-image {
            margin-left: auto !important;
            // width: calc(50vw - var(--container-gaps));
            padding: 0 var(--container-gaps);
            padding-top: var(----vertical-gaps);
            margin: auto 0;
        }
    }

    .product-cp-image {
        grid-area: pr-img;
        max-width: var(--max-width);

        img {
            object-fit: cover;
            object-position: right;
            width: 100%;
            height: 100%;
            display: block;
        }
    }


    >* {
        padding-top: var(--vertical-gaps);
        margin-left: var(--horizontal-outer-gaps);
        width: calc(100% - calc(var(--horizontal-outer-gaps) * 2));

        @include rangemq (small, extralarge) {
            justify-self: center;
        }

        @include minmq (small) {
            margin-left: 0;
        }
    }

    .product-cp-headline {
        grid-area: pr-hl;
        height: 100%;

        h2 {
            line-height: calc(var(--lh-h2) * 1.2);
            // white-space: nowrap;
        }
    }

    .product-cp-price {
        grid-area: pr-price;
        font-size: calc(var(--fs-h2) * .5);
        font-weight: 400;
    }

    .product-cp-btns {
        grid-area: pr-btn;

        .product-cp-cu-btn {
            display: flex;
            flex-direction: row;
            align-items: center;

            .product-cp-cu-btn-text {
                padding: var(--btn-arrow-gap);
            }

            .slider-btn-icon {
                height: var(--btn-arrow-size);
                width: var(--btn-arrow-size);
                margin: 0px;
                padding: 0px;

            }
        }
    }

    .product-cp-text {
        grid-area: pr-text;
        max-width: 530px;
    }

    .slide-btn {
        height: 150px;
        width: 18vw;
        max-width: 100px;

        @include maxmq(small) {
            margin: auto;
            padding-top: 0;
        }

        @include minmq(extralarge) {
            width: 15vw;
            max-width: 300px;
            height: calc(100% - var(--vertical-gaps));
        }

        transition-duration: 400ms;
        transition-property: transform;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }
    }

    .slide-btn:hover {
        transform: scale(1.15);
    }

    .slide-left {
        grid-area: pr-left;
        margin-right: auto;

        img {
            object-position: right;
        }
    }

    .slide-right {
        grid-area: pr-right;
        margin-left: auto;

        img {
            object-position: left;
        }
    }
}