@use '../abstracts/' as *;

:root {
    --outer-gaps: 2rem;
    --container-gaps: 1rem;
    --href-gaps: .5rem;

    @include minmq (large) {
        --max-width: 500px;
        --container-gaps: 2rem;
    }
}

.footer-wraper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: calc(var(--gaps) * 3);
    // background-color: var(--foo-bg-color);

    .footer-children-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--foo-color);
        background-color: var(--foo-bg-color);

        .footer-children {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: var(--container-gaps) 0;
            justify-content: center;
            overflow: hidden;
            color: var(--foo-color);
            background-color: var(--foo-bg-color);

            @include maxmq(extrasmall) {
                flex-direction: column;
            }

            .footer-child {
                padding: var(--container-gaps);

                span {
                    font-size: var(--fs-foo-lv1);
                    font-weight: var(--fw-foo-lv1);
                }

                li {
                    font-size: var(--fs-foo-lv2);
                    font-weight: var(--fw-foo-lv2);

                    a {
                        display: block;
                        padding: var(--href-gaps) 0;
                    }
                }
            }
        }
    }

    .footer-btn-container {
        width: 100%;
        padding-top: $gaps;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        >*+* {
            margin-top: var(--gaps);
        }

        .btn-icon {
            margin: auto;
            height: var(--btn-arrow-size);
            width: var(--btn-arrow-size);
        }
    }

    a {
        color: var(--foo-color);
    }

    .footer-created-by {
        padding: 0 $gaps $gaps $gaps;
        text-align: center;
        color: var(--foo-color);
        background-color: var(--foo-bg-color);
        line-height: var(--lh-p);
        letter-spacing: var(--ls-p);
    }
}