@use '../abstracts/' as *;

/*     BODY      */

body {
    margin: 0px;
    overflow-x: hidden;
    font-family: var(--font-family);
    background-color: var(--bg-pri-color);
    color: var(--color);
}

/*     Hide Parallax Content      */
.body-wraper {
    .grid-container>* {
        z-index: 1;
        // background-color: var(--bg-pri-color);
        position: relative;
    }
}

/*     TEXT      */

p {
    margin: 0;
    font-size: var(--fs-p);
    line-height: var(--lh-p);
    letter-spacing: var(--ls-p);
    font-weight: 300;
    text-rendering: optimizeLegibility;

    a {
        color: var(--link-color);
        text-decoration: underline;
    }
}

span {
    font-size: var(--fs-p);
    line-height: var(--lh-p);
    letter-spacing: var(--ls-p);
}

/*    OBSERVER   */

// .observer-hidden {
//     opacity: 0;
// }

// .observer-show {
//     opacity: 1;
//     transition: all .5s ease-in-out;
// }

/*    COLOR HOVER   */

.color-on-hover {
    transition: all 0.3s;
    filter: grayscale(1);
}

.color-on-hover:hover {
    filter: grayscale(0);
}


/*    FLOATING STYLES   */

.floating {
    // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        // box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        // box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

/*     Start Stroke      */
.stroke-animation a,
.stroke-animation a:after,
.stroke-animation a:before {
    transition: all .5s;
}

.stroke-animation a:hover {
    color: var(--nav-color);
}

.stroke-animation a {
    position: relative;
    padding-bottom: .5rem;
}

.stroke-animation a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--nav-color);
    opacity: .8;
    height: 2px;
}

.stroke-animation a:hover:after {
    width: 100%;
}



/*    UTILITY STYLES   */

strong {
    font-weight: 500;
}

.italic-text {
    font-style: italic;
}

.fat-text {
    font-weight: 500;
}

.img-center {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    display: block;
}

.shadow {
    filter: drop-shadow(0px 3px 5px black);
}

.bg-cl-pri {
    background-color: var(--bg-pri-color) !important;
}

.bg-cl-sec {
    background-color: var(--bg-sec-color) !important;
}

.bg-cl-ter {
    background-color: var(--bg-ter-color) !important;
}

.bg-cl-qua {
    background-color: var(--bg-qua-color) !important;
}

.bg-cl-qui {
    background-color: var(--bg-qui-color) !important;
}

.cl-pri {
    color: var(--bg-pri-color);
    fill: var(--bg-pri-color) !important;
}

.cl-sec {
    color: var(--bg-sec-color);
    fill: var(--bg-sec-color) !important;
}

.cl-ter {
    color: var(--bg-ter-color);
    fill: var(--bg-ter-color) !important;
}

.cl-qua {
    color: var(--bg-qua-color);
    fill: var(--bg-qua-color) !important;
}

.cl-qui {
    color: var(--bg-qui-color);
    fill: var(--bg-qui-color) !important;
}

.cl-footer {
    color: var(--foo-bg-color);
    fill: var(--foo-bg-color) !important;
}

/*    REMOVE DEFAULTS   */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}