<!DOCTYPE html>
<html lang="de">
    {% set domain = collections.config[0].data.domain %}
    {% set meta_description = collections.config[0].data.meta_description %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="color-scheme" content="dark light">
        <meta name="description" content="{{ meta_description }}">
        <title>{{ title }}</title>
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
        <link rel="dns-prefetch" href="{{ domain }}"/>
        <link rel="preconnect" href="{{ domain }}"/>
    </head>
    <body>
        {% include '_navigation.njk' %}
        <div id="body-wraper" class="body-wraper">
            {{ content | safe }}
        </div>
        {% include '_footer.njk' %}
        {% include '_modal.njk' %}
    </body>
    <!-- JS -->
    <script src="/js/app.bundle.js"></script>
    {% if script %}
        <script src="/js/{{ script }}.bundle.js"></script>
    {% endif %}
    <!-- Matomo -->
{# <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.abbgemacht.de/";
            _paq.push([
                'setTrackerUrl',
                u + 'matomo.php'
            ]);
            _paq.push(['setSiteId', '1']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.async = true;
            g.src = u + 'matomo.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script> #}
    <!-- End Matomo Code -->
</html>