<!DOCTYPE html>
<html lang="en">
    {% set domain = collections.config[0].data.domain %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="color-scheme" content="dark light">
        <meta name="description" content="Free Web tutorials">
        <title>{{ title }}</title>
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
        <link rel="dns-prefetch" href="{{ domain }}"/>
        <link rel="preconnect" href="{{ domain }}"/>
    </head>
    <body>
        {% include '_navigation.njk' %}
        <div id="body-wraper" class="body-wraper">
            {{ content | safe }}
        </div>
        {% include '_footer.njk' %}
        {% include '_modal.njk' %}
    </body>
    <!-- JS -->
    <script src="/js/app.bundle.js" defer></script>
    {% if script %}
        <script src="/js/{{ script }}.bundle.js" defer></script>
    {% endif %}
</html>