---
layout: '_base.njk'
---

<div class="grid-container">
    {% for row in collections[collection]|sort(attribute="data.order") %}
        {% set type = row.data.type %}
        {% set value = row.data.value %}
        {% set transition = row.data.transition_top %}
        {% if transition|length %}
            {% include 'transition.njk' %}
        {% endif %}
        {% if type == "flex-content" %}
            {% include 'flex-content.njk' %}
        {% elif type == "parallax-content" %}
            {% include 'parallax-content.njk' %}
        {% elif type == "headline" %}
            {% include 'headline.njk' %}
        {% elif type == "slider" %}
            {% include 'slider.njk' %}
        {% elif type == "welcome-content" %}
            {% include 'welcome-content.njk' %}
        {% elif type == "welcome-text" %}
            {% include 'welcome-text.njk' %}
        {% elif type == "colorpallet-content" %}
            {% include 'colorpallet-content.njk' %}
        {% elif type == "custom" %}
            {% set path = "../customer/templates/" + value + ".njk" %}
            {% include path %}
        {% endif %}
        {% set transition = row.data.transition_bot %}
        {% if transition|length %}
            {% include 'transition.njk' %}
        {% endif %}
    {% endfor %}
</div>