---
layout: 'blog.njk'
---

<div class="visit">
    {%- for element in collections.visit|sort(attribute="data.order") -%}
        <div class="visit-con">
            {% set headline = element.data.headline %}
            {% set type = element.data.type %}
            {% if headline|length %}
                <h1>{{ headline }}</h1>
            {% endif %}
            {% if type == "text" %}
                {# TODO: Set markdown variable here to make this work#}
                {%- include 'text_markdown.njk' -%}
            {% elif type == "maps" %}
                Maps
            {% endif %}
        </div>
    {%- endfor -%}
</div>