@use '../../../scss/abstracts/' as *;
// @use '../abstracts/' as *;


// Make sure this is consistent in md file and njk render
// {{ template }}-slide
// MOBILE MAX HEIGHT WIDTH FIX
@include maxmq(medium) {
    .beer-slide {
        max-width: 100% !important;
        max-height: 100% !important;
    }

    #beer-slider {
        max-width: 100% !important;
        max-height: 100% !important;
    }
}

// BUTTON POSITION MOBILE FIX
@include maxmq(medium) {
    .slider-btn-icon {
        grid-row: 1 !important;
        margin: auto;
    }
}

@include minmq(extralarge) {
    .slider-btn-icon-left {
        grid-column: 1;
        margin-left: auto;
        margin-right: 0;
    }

    .slider-btn-icon-right {
        grid-column: 2;
        margin-right: auto;
        margin-left: 0;
    }
}

.beer-slide {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: $gaps * .5;
    grid-template-areas: 'beer'
        'title'
        'specs'
        'content'
        'button'
    ;

    @include maxmq(small) {
        grid-template-areas: 'beer'
            'title'
            'specs'
            'content'
            'button'
        ;
        padding: $gaps $gaps;
        width: calc(100vw - calc($gaps * 2)) !important;
    }

    @include rangemq(small, medium) {
        grid-template-areas: 'beer beer'
            'title title'
            'specs button'
            'content content'
        ;
        grid-template-columns: 1fr 1fr;
        padding: $gaps $gaps;
        width: calc(100vw - calc($gaps * 2)) !important;
    }

    @include minmq(medium) {
        grid-template-areas: 'beer title'
            'beer specs '
            'beer content'
            'beer button'
        ;
        grid-template-columns: fit-content(300px) fit-content(500px);
        grid-template-rows: fit-content(100px);

    }

    h2 {
        grid-area: title;

        @include rangemq(zero, small) {
            padding-top: $gaps * .5;
        }
    }

    img {
        grid-area: beer;
        object-fit: cover;
        object-position: center;
        height: 100%;

        @include rangemq(zero, small) {
            width: 270px;
            margin: auto;
        }

        @include rangemq(small, medium) {
            width: 300px;
            margin: auto;
        }

        @include minmq(medium) {
            width: 100px;
            height: 294px;
        }
    }

    >p {
        grid-area: content;
    }

    .beer-slide-btn {
        grid-area: button;
        white-space: nowrap;

        @include rangemq(zero, small) {
            margin-top: $gaps * .5;
        }

        @include minmq(medium) {
            margin: auto 0;
        }
    }

    .beer-slide-specs {
        grid-area: specs;
        display: flex;
        flex-direction: row;

        .beer-slide-specs-names {
            text-align: left;
            margin-right: 1rem;
        }

        .beer-slide-specs-values {
            text-align: left;
            padding-left: $gaps * .5;
        }
    }
}