@use '../../../scss/abstracts/' as *;

/*     WELCOMESCREEN     */

#ws-wraper {
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);

    @include maxmq(large) {
        max-height: 120vh;
    }

    @include rangemq(large, extralarge) {
        max-height: 110vh;
    }

    @include minmq(extralarge) {
        max-height: 120vh;
    }

    #ws-img {
        grid-row: 1 / span 3;
        grid-column: 1 / span 3;
        object-fit: cover; // Image placement
        object-position: center; // Image placement
        min-height: 80vh;
        height: 100%;
        width: 100%;
        z-index: 0;
    }

    #ws-hl {
        max-width: 80vw;
        grid-row: 2;
        grid-column: 2;
        z-index: 1;
        object-fit: cover;
        object-position: center;
        margin: 0 auto;
    }

    #ws-wave {
        margin-top: auto;
        grid-row: 2 / span 2;
        grid-column: 1 / span 3;
        z-index: 1;
        color: var(--bg-pri-color);

        svg {
            max-height: calc($gaps * 2);
        }
    }

    .btn-wel-arrow {
        grid-row: 3;
        grid-column: 2;
        margin: 0 auto;
        margin-top: $gaps;
    }
}

/*     Darkmode fix for Logo     */
@media (prefers-color-scheme: dark) {
    #überuns_ {
        img {
            background-color: var(--tertiary);
        }
    }
}

.btn-wel-arrow {
    path {
        fill: var(--btn-arr-wel-bo-color);
    }
}