@use 'sass:map';
@use '../customer/abstracts/breakpoints.scss' as *;

$dev-breakpoints: (
    zero: 0px,
    extrasmall: 400px,
    small: 576px,
    medium: 768px,
    large: 992px,
    extralarge: 1300px,
);

$breakpoints: map.merge($dev-breakpoints, $cu-breakpoints);

@mixin maxmq($key) {
    $size: map.get($breakpoints, $key);

    @media (max-width: $size) {
        @content;
    }
}

@mixin minmq($key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size) {
        @content;
    }
}

@mixin rangemq($key1, $key2) {
    $range-start: map.get($breakpoints, $key1);
    $range-end: map.get($breakpoints, $key2);

    @media (min-width: $range-start) and (max-width: $range-end) {
        @content;
    }
}