@use '../abstracts/breakpoints.scss' as *;

:root {

    /*     HEADLINE1     */
    --fs-h1: 5rem;
    --fw-h1: 400;
    --ls-h1: 1px;
    --lh-h1: 100%;

    /*     HERO SUBHEADING     */
    --fs-hs: 5rem;
    --fw-hs: 400;
    --ls-hs: 125%;
    --lh-hs: 130%;

    /*     HEADLINE2     */
    --fs-h2: 5rem;
    --fw-h2: 400;
    --ls-h2: 125%;
    --lh-h2: 100%;

    /*     PARAGRAPHS     */
    --fs-p: .9rem;
    --ls-p: .0rem;
    --lh-p: 1.4rem;

    /*     NAVIGATION     */
    --fs-nav-lv1: 1.2rem;
    --fw-nav-lv1: 400;
    --fs-nav-lv2: 1.1rem;
    --fw-nav-lv2: 300;

    /*     FOOTER     */
    --fs-foo-lv1: 1.2rem;
    --fw-foo-lv1: 400;
    --fs-foo-lv2: 1rem;
    --fw-foo-lv2: 300;

    /*     BUTTONS     */
    --fs-btn: 1rem;
    --fw-btn-pri: 400;
    --fw-btn-sec: 400;

    /*     RESPONSIVE     */
    @include maxmq (small) {
        /*     HEADLINE 1     */
        --fs-h1: clamp(1.1rem, 5vw + .5rem, 1.8rem);
        --fw-h1: 600;
        --ls-h1: 1px;
        --lh-h1: 145%;
        /*     HEADLINE 2     */
        --fs-h2: 1.8rem;
        /*     SUBHEADING     */
        --fs-hs: 1.2rem;
        --fw-hs: 400;
        --ls-hs: .5px;
        --lh-hs: 180%;
    }

    @include rangemq (small, large) {
        /*     HEADLINE 1     */
        --fs-h1: clamp(1.1rem, 5vw + .5rem, 1.8rem);
        --fw-h1: 600;
        --ls-h1: 1px;
        --lh-h1: 145%;
        /*     HEADLINE 2     */
        --fs-h2: 2rem;

        /*     SUBHEADING     */
        --fs-hs: 1.2rem;
        --fw-hs: 400;
        --ls-hs: .5px;
        --lh-hs: 180%;

        /*     PARAGRAPHS     */
        --fs-p: 1rem;
        --lh-p: 1.6rem;
        --ls-p: .0rem;
    }

    @include rangemq (large, extralarge) {
        /*     HEADLINE 1     */
        --fs-h1: clamp(1.1rem, 5vw + .5rem, 1.8rem);
        --fw-h1: 600;
        --ls-h1: 1px;
        --lh-h1: 145%;
        /*     HEADLINE 2     */
        --fs-h2: 2rem;

        /*     SUBHEADING     */
        --fs-hs: 1.2rem;
        --fw-hs: 400;
        --ls-hs: .5px;
        --lh-hs: 180%;

        /*     PARAGRAPHS     */
        --fs-p: 1rem;
        --lh-p: 1.6rem;
        --ls-p: .0rem;
    }

    @include minmq (extralarge) {
        /*     HEADLINE 1     */
        --fs-h1: clamp(1.1rem, 5vw + .5rem, 1.8rem);
        --fw-h1: 600;
        --ls-h1: 1px;
        --lh-h1: 145%;
        /*     HEADLINE 2     */
        --fs-h2: 2rem;

        /*     SUBHEADING     */
        --fs-hs: 1.2rem;
        --fw-hs: 400;
        --ls-hs: .5px;
        --lh-hs: 180%;

        /*     PARAGRAPHS     */
        --fs-p: 1rem;
        --lh-p: 1.6rem;
        --ls-p: .0rem;
    }
}