---
title: Seite nicht gefunden
layout: '_base.njk'
permalink: /404.html
---

<div class="blog-wraper">
    <h1 style="text-align: center;">Die Seite konnte nicht gefunden werden.<br/>
        <a href="javascript:history.back()">Hier</a>
        kannst du zurück.
    </h1>
</div>