---
title: Gesendet
layout: '_base.njk'
script: 'contactsend'
permalink: /gesendet/index.html
---

<div class="gesendet-wraper">
    <h1>Ihre Anfrage wurde gesendet!</h1>
    <p>Sie werden in gleich weitergeleitet oder klicken Sie
        <a href="/">hier</a>.</p>
</div>