{% set hero = custom %}
{% set headline = hero.headline %}
{% set button = hero %}
{% set image_transition = hero.image_transition %}
<div class="hero">
    <div class="hero-content-frame">
        <div class="hero-content">
            <div class="hero-content-heading hero-text">
                <h1>{{ headline | safe }}</h1>
            </div>
            <div class="hero-button-row">
                {% include 'button.njk' %}
                {% set second_button = true %}
                {% include 'button.njk' %}
            </div>
        </div>
        <div class="hero-image">
            {% for i in hero.images %}
                {% set image = hero.images[loop.index0]["image"+loop.index] %}
                <div class="{{ image.class }}">
                    {% include "image.njk" %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% set image = hero.image_transition %}
    {% include "image.njk" %}
</div>