{# Slides inherit the data ALWAYS from the "slide" variable. #}
{% set specs = slide.specs %}
{% set price = slide.price %}
{# Components - INCLUDE #}
{% set flex_text = slide %}
{% set headline = slide %}
{% set image = slide %}
{% set image_size = "full" %}
{% set markdown = slide %}
{% set button = slide %}
{# Components - INCLUDE END #}
<section class="product-cp">
    <div class="product-cp-image product-cp-cl product-cp-cl-left">
        {% include 'image.njk' %}
    </div>
    <div class="product-cp-headline">
        {% include 'headline.njk' %}
    </div>
    <p class="product-cp-price">
        {{ price |safe }}
    </p>
    <div class="product-cp-btns">
        {% include "button.njk" %}
    </div>
    <div class="product-cp-text">
        {% include "markdown.njk" %}
    </div>
    <div id="{{ template }}-left" class="slide-left slide-btn">
        {% if switch == "arrow" %}
            {% set svg = collections.config[0].data.arrow_left %}
            {% include 'svg.njk' %}
        {% elif switch == "img" %}
            {% set image = {width: "4000", height: "4000", image_src: left_img, image_alt: "Linker Pfeil um den Slider zu bedienen."} %}
            {% include 'image.njk' %}
        {% endif %}
    </div>
    <div id="{{ template }}-right" class="slide-right slide-btn">
        {% if switch == "arrow" %}
            {% set svg = collections.config[0].data.arrow_right %}
            {% include 'svg.njk' %}
        {% elif switch == "img" %}
            {% set image = {width: "4000", height: "4000", image_src: right_img, image_alt: "Rechter Pfeil um den Slider zu bedienen."} %}
            {% include 'image.njk' %}
        {% endif %}
    </div>
</section>